.container {
    padding-top: 60px;
  }

    
  .card {
    min-height: 260px;
  }

  #profile {
    border-radius: 20px !important;
    opacity: 75%;
  }

  .shadow{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 1px rgba(0, 0, 0, 0.19);
  }

  .profile-image{
    width: 200px;
  
  
}